# Build artifacts
**/bin/
**/obj/

# IDE/project settings
**/.vs/
**/.vscode/
.idea/
*.user
*.suo

# Temporary / system files
*.swp
*.swo
*.tmp
*.log
*.DS_Store

# Git internals
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Local database
codex.db
